timm==0.5.4
FrEIA @ git+https://github.com/VLL-HD/FrEIA@1779d1fba1e21000fda1927b59eeac0a6fcaa284
pyyaml==6.0
pytorch-ignite==0.2.0
torch==2.0.1
pytorch-cuda==11.7
numpy==1.24.3
captum==0.6.0
scikit-learn==1.1.1
scikit-image==0.19.2
tqdm==4.65.0
scipy==1.10.1
torchvision==0.15.2
transformers==4.22.0
tensorflow-datasets==4.8.3
pandas==1.5.3
pillow==9.4.0
